.idea
.vs
.dumbjump
.DS_Store
#*
*~
*.bak
*.orig
*.pyc
*cppcheck-build-*
cmake-build-*
*build/*
*build_*/*
*python_venv_*/*
python/mmSolver/constant.py
docs/source/conf.py
compile_commands.json

test*.pstat
test*.txt
test*.folded
test*.svg
*_after*.ma
*_before*.ma
*.log
*.flags
ui_*.py

old/*
precompiled/*
*venv/*
*/.mayaSwatches/*

*.so
*.so.*
*.a
*.a.*
*.lib
*.dll
*.mll

*.tgz
*.zip
*.tar.gz
*.tar.bz2
*.tar

tests/**/*.jpg
tests/**/*.tif
tests/**/*.tiff
tests/**/*.iff
tests/**/*.png

external/build/*
external/build_*maya*/*
external/install/*
external/working/*
external/include/*.h*
external/include/*atlas*

docs/build/html/*
docs/build_*_maya*/html/*
docs/build/doctrees/*
docs/build_*_maya*/doctrees/*
