.idea
#*
*~
*.pyc
cmake-build-*

test*.pstat
test*.txt

old/*
precompiled/*

*.so
*.so.*
*.a
*.a.*

*.tgz
*.zip
*.tar.gz
*.tar.bz2
*.tar

external/working/levmar*
external/working/sparselm*
external/working/SuiteSparse*
external/include/*.h*
external/include/*atlas*