.idea
.vs
#*
*~
*.pyc
cmake-build-*
*build/*
*build_*/*
python/mmSolver/constant.py
include/buildConstant.h
docs/source/conf.py

test*.pstat
test*.txt
*_after*.ma
*_before*.ma
*.log
*.flags
ui_*.py

old/*
precompiled/*
venv/*

*.so
*.so.*
*.a
*.a.*
*.lib
*.dll
*.mll

*.tgz
*.zip
*.tar.gz
*.tar.bz2
*.tar

external/working/levmar*
external/include/*.h*
external/include/*atlas*

docs/build/html/*
docs/build/doctrees/*