name: Lint Code

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r share/python_requirements/requirements-github-lint-code.txt

      - name: Analysing the Python code with ruff (Hard Error)
        run: |
          ./scripts/python_linter_run_ruff.bash

      - name: Install Clang-Format
        run: |
          sudo apt-get install -y clang-format

      - name: Check C++ Code with Clang-Format
        run: |
          ./scripts/cpp_formatter_run_clang_format_check.bash
